header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  .navigation {
    width: 50%;
    max-width: 300px;
    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 56px;
      font-family: $font-500;
      font-size: 24px;
      li {
        color: $color-1;
        position: relative;
        &:hover {
          background: $color-1;
          color: white;
        }
      }

      .nav-active li:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-1;
        height: 1px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .navigation {
      ul {
        text-transform: uppercase;
        font-size: 18px;
        gap: 30px;
      }
    }
    .logo {
      img {
        height: 47px;
        width: 145px;
      }
    }
  }

    @media screen and (max-width: 520px) {
    .navigation {
      ul {
        font-size: 12px;
        gap: 10px;
      }
    }
  }
}
