header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  .navigation {
    width: 50%;
    max-width: 300px;
    position: relative;

    .side-bar {
      height: 100%;
    }

    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 56px;
      font-family: $font-500;
      font-size: 24px;
      li {
        color: $color-1;
        position: relative;
        &:hover {
          background: $color-1;
          color: white;
        }
      }

      .nav-active li:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-1;
        height: 1px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .navigation {
      ul {
        text-transform: uppercase;
        font-size: 18px;
        gap: 30px;
      }
    }
    .logo {
      img {
        height: 47px;
        width: 145px;
      }
    }
  }

  @media screen and (max-width: 520px) {
    .navigation {
      ul {
        font-size: 12px;
      }

      //start side bar
      .side-bar {
        position: fixed;
        width: 150px;
        height: 100%;
        top: 0;
        right: 0;
        transition: 0.3s ease-out;
        z-index: 4;
        background-color: $color-1;
        right: -150px;
      }

      .toggle-btn {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        height: 60px;
        width: 60px;
        transition: 0.3s ease-out;
        opacity: 1;
        z-index: 4;
      }
      .toggle-btn span {
        width: 60px;
        height: 10px;
        border-radius: 5px;
        background: $color-1;
        display: block;
        margin-top: 4px;
        transition: 0.3s ease-out;
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        font-size: 24px;
        gap: 10px;

        a {
          width: 100%;
          line-height: 45px;
          text-align: center;
        }

        li {
          color: white;
          position: relative;
          &:hover {
            background: white;
            color: $color-1;
          }
        }
      }

      .side-bar.show-side-bar {
        /* en collant id.class pseudo element devient prioritaire sur id */
        right: 0px;
      }
      .show-cross.toggle-btn {
        right: 130px;
        top: 0px;
      }

      /* code ajouté */
      .show-cross span {
        position: absolute;
        top: 15px;
      }

      .show-cross span:first-child {
        transform: rotate(45deg);
      }
      .show-cross span:nth-child(2) {
        opacity: 0;
      }
      .show-cross span:last-child {
        transform: rotate(-45deg);
      }
      /* fin code ajouté */
      //end side bar
    }
  }
}
