#flat-page {
  .grid-container {
    padding: 30px 0 30px 0;
    display: grid;

    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 50px 50px;
    grid-template-areas:
      'title name'
      'para name'
      'tag rate';
    h1 {
      grid-area: title;
      font-size: 36px;
      font-family: $font-400;
      font-weight: 600;
      padding: 0 0 10px 0;
    }
    p {
      grid-area: para;
    }
    .name-container {
      grid-area: name;
      justify-self: end;
      height: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 167px;

      span {
        padding-top: 15px;
        text-align: right;
        width: 93px;
      }
      img {
        width: 64px;
        height: 64px;
        border-radius: 40px;
      }
    }

    .tag-list {
      grid-area: tag;
      max-height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 10px;
      li {
        height: 30px;
      }
    }
    .rating-list {
      grid: rate;
      justify-self: end;

      span {
        font-size: 28px;
      }
    }
    .rating {
      color: $color-1;
    }

    .not-rating {
      color: $color-3;
    }
  } //grid
  .dropdown-container {
    display: flex;
    gap: 7%;
    p {
      flex: 1 0 auto;
      font-size: 18px;
      line-height: 30px;
    }

    @media screen and (max-width: 520px) {
      p {
        font-size: 12px;
        min-height: 144px;
        line-height: 17px;
      }

      li {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .dropdown-container {
      flex-direction: column;
    }
    .btn {
      width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    .grid-container {
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(auto-fit, minmax(25px, 1fr)) ;
      grid-template-areas:
        'title title'
        'para para'
        'tag tag'
        'rate name';
      align-items: center;

      h1 {
        font-size: 18px;
        width: 75%;
      }

      p {
        font-size: 14px;
      }

      .name-container {
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
        img {
          width: 32px;
          height: 32px;
        }
        span {
          padding-top: 0;
          text-align: right;
          width: 70px;
          font-size: 13px;
        }
      }

      .rating-list {
        justify-self: start;

        span {
          font-size: 13px;
          margin-right: 7px;
        }
      }
      .tag-list {
        flex-wrap: wrap;
        li {
          height: 18px;
          font-size: 10px;
          min-width: 84px;
          padding: 2.5px 5px 0;
        }
      }
    }
  }
} //id page
